@font-face {
    font-family: "Open Sans";  /* The name we'll use to refer to the font */
    src: url("./fonts/open-sans-varible.woff2") format("woff2-variations");  /*Location of the font */
    font-style: normal;
    font-weight: 100 800;  /* The font will support any font size from 100 to 800 */
    font-display: swap; /* Ensures text is displayed using a fallback font until the custom font is loaded */
}
@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Italic"), url("./fonts/open-sans-regular.woff2") format("woff2"), /* Checks the device to see whether it has the font loaded locally */
    url("./fonts/open-sans-regular.woff") format("woff");
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}
* {
    box-sizing: border-box; /* content-box - default value for calculating the width
    and height of an element. Any borders or padding will be added to the final rendered width
    THR CONTENT-BOX WILL REDUCE AS THE PADDING AND BORDER INCREASE */
}
body {
    background: rgb(221, 238, 252);
    margin-top: 80px;
}
.card-item {
    max-width: 430px;
    height: 270px;
    margin: auto;
    position: relative;
    color: white;
}
.card-item__side {
    width: 100%;
    height: 100%;
    background: url("bg.jpeg") left top / cover blue; /* backgriund-image, background-position, background-size, background color */
}
.front {
    padding: 25px 15px;
}
.card-item__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 10px;
}
.card-item__chip {
    width: 60px;
}
.card-item__number {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 35px;
}
.card-item__content {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.back {
    padding-top: 30px;
}
.card-item__band {
    height: 50px;
    background: rgba(0, 0, 19, 0.8);
}
.card-item__cvv {
    text-align: right;
    padding: 15px;
}
.card-item__cvvTitle {
    padding-right: 10px;
    margin-bottom: 5px;
}
.card-item__cvvBand {
    height: 45px;
    margin-bottom: 30px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: rgb(255, 255, 255);
    color: rgb(26, 59, 93);
}
.card-item__holder, .card-item__dateTitle {
    opacity: 0.7;
}